@charset "UTF-8";
.tituloBarberos {
  color: white;
  text-align: center;
  height: 15px;
  width: 100%;
  align-items: center;
  padding: 25px;
  margin: 0;
  display: inline-block;
  font-size: 20px; }
  .tituloBarberos p {
    color: #c29029; }

/* tipografia y reseteo */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; }

/* MEDIAS QUERY */
/* dispositivos medianos */
@media (max-width: 1110px) {
  .grid-container {
    display: flex;
    flex-direction: column; }
  .horario {
    justify-content: space-evenly;
    height: 80vh; } }

@media (max-width: 992px) {
  .footer {
    flex-direction: column; }
  .horario p {
    width: auto; }
  iframe {
    width: 60%; }
  .header {
    flex-direction: column; } }

@media (max-width: 830px) {
  .footerHorizontal section {
    margin: 10px; } }

@media (max-width: 500px) {
  .footerHorizontal {
    display: flex;
    flex-direction: column; } }

/* dispositivos pequeños */
/* HEADER HEADER HEADER */
.headerBootstrap {
  background-color: #000000b7;
  position: sticky;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  top: 0; }

.navbar-nav {
  align-items: flex-end;
  border-radius: 15px; }

.navbar-expand-lg .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  justify-content: flex-end; }

.navbar-toggler {
  background-color: #c29029;
  color: #00000000; }

.header a {
  color: white;
  text-decoration: none; }

.header ul {
  list-style: none;
  border: 1px solid #c29029;
  background-color: #c29029;
  padding-right: 20px; }

.header img {
  padding: 20px; }

.logoMovimiento {
  transition: all 300ms ease;
  overflow: hidden; }

.logoMovimiento img {
  transition: all 300ms ease; }

.logoMovimiento img:hover {
  transform: scale(1.08); }

.header li {
  display: inline-block;
  color: white;
  margin: 5px;
  border-radius: 9999px;
  border-width: 1px; }

.header a:hover {
  color: black;
  font-weight: bold; }

/* MAIN MAIN MAIN HOME-INICIO */
/* BANNER HOME */
.bannerPantalla {
  width: 100%; }

/* BOTON DE SERVICIOS - HOME */
.botonDeServicios {
  border: 1px solid #c29029;
  padding: 10px 25px 12px 25px;
  text-decoration: none;
  color: #000;
  flex-direction: column;
  border-radius: 9999px;
  border-width: 2px; }

.botonMain input:hover {
  color: #c29029;
  font-weight: bold; }

/* BARBEROS HOME */
.losBarberosHome {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  background-image: url("../img/barbero-de-fondo.jpg"); }

.serviciosCol-2 {
  width: 90%;
  float: left;
  padding: 15px; }

.tituloBarberos h2:hover {
  transition: .2s;
  transform: skew(-15deg); }

.barberos {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 2px #00000033;
  margin: 40px;
  box-shadow: 0 4px 8px 5px #c29029;
  border-radius: 20px;
  transition: all 500ms ease;
  overflow: hidden; }

.losBarberosHome img {
  width: 200px;
  height: 230px;
  padding: 0;
  margin: 0;
  border-radius: 20px 20px 0 0;
  transition: all 500ms ease; }

.losBarberosHome img:hover {
  transform: scale(1.08); }

.barberos p {
  font-size: 18px;
  text-align: center;
  margin: auto;
  padding: 5px;
  color: white; }

.colorOro {
  color: #c29029; }

/* SUCRIBETE HOME */
.suscribete {
  margin: 25px;
  text-align: center; }

.tamañoDeSuscribete {
  margin: 15PX;
  display: flex;
  flex-direction: column; }

.tamañoDeSuscribete input:hover {
  color: black;
  font-weight: bold;
  font-size: 20px; }

.correos {
  width: 70%;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  border: 1px black solid;
  font-size: medium;
  text-align: center;
  border-radius: 5px; }

.suscribetes {
  width: 29%;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  justify-content: space-evenly;
  border: 1px black solid;
  background-color: #c29029;
  color: white;
  border-radius: 5px; }

/* MAIN MAIN MAIN HOME-FIN */
/* MAIN MAIN MAIN CONTACTOS-INICIO */
.contacto {
  text-align: center;
  min-height: 80vh; }

.contactoInformacion {
  margin: 25px;
  font-size: 25px;
  color: #c29029; }

.contactoInformacion p {
  font-size: 18px;
  color: #555555;
  line-height: 28px; }

.nombresContacto {
  width: 400px;
  height: 40px;
  justify-content: space-evenly;
  border: 1px #ccc solid;
  border-radius: 5px;
  font-size: medium;
  padding: 0;
  margin: 5px;
  text-indent: 10px; }

.correosContacto {
  width: 400px;
  height: 40px;
  justify-content: space-evenly;
  border: 1px #ccc solid;
  border-radius: 5px;
  font-size: medium;
  padding: 0;
  margin: 5px;
  text-indent: 10px; }

.mensajesContacto {
  width: 400px;
  height: auto;
  justify-content: space-evenly;
  border: 1px #ccc solid;
  border-radius: 5px;
  font-size: medium;
  padding: 0;
  margin: 5px;
  text-indent: 10px; }

.enviarContacto {
  width: 200px;
  height: 40px;
  justify-content: space-evenly;
  border: 1px #000000 solid;
  border-radius: 5px;
  font-size: medium;
  padding: 0;
  margin-bottom: 200px;
  align-items: center;
  background-color: #c29029;
  color: white; }

.borrarContacto {
  width: 200px;
  height: 40px;
  justify-content: space-evenly;
  border: 1px #000000 solid;
  border-radius: 5px;
  font-size: medium;
  padding: 0;
  margin-bottom: 200px;
  align-items: center;
  background-color: #c29029;
  color: white; }

/* MAIN MAIN MAIN CONTACTOS-FIN */
/* MAIN MAIN MAIN NOSOTROS-INICIO */
/* GRID */
.nosotros {
  min-height: 80vh; }

.grid-container {
  max-width: 980px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "nosotrosInformacion horario"; }

.nosotrosInformacion {
  grid-area: nosotrosInformacion;
  margin: 60px;
  font-size: 25px;
  color: #c29029; }

.nosotrosInformacion h2 {
  font-size: 55px;
  color: black; }

.nosotrosInformacion p {
  font-size: 18px;
  color: #555555;
  line-height: 28px; }

.horario {
  grid-area: horario;
  margin: 50px;
  padding: 90px 90px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #c29029; }

.horario p {
  width: 400px;
  text-align: center;
  font-size: 20px;
  font-weight: bold; }

/* MAIN MAIN MAIN NOSOTROS-FIN */
/* MAIN MAIN MAIN RESERVA TU HORA-INICIO */
.reservaTuHora {
  text-align: center; }

.reservaTuHoraInformacion {
  margin: 25px;
  font-size: 25px;
  color: #c29029; }

.reservaTuHoraInformacion h2 {
  font-size: 55px;
  color: black; }

.reservaTuHoraInformacion p {
  font-size: 18px;
  color: #555555;
  line-height: 28px;
  text-align: left;
  width: auto;
  height: auto;
  display: inline-block; }

.reservaSuscribirte {
  height: 30px;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.reservaSuscribirte label {
  margin: 8px; }

.reservaTelefono {
  width: 400px;
  height: 40px;
  justify-content: space-evenly;
  border: 1px #ccc solid;
  border-radius: 5px;
  font-size: medium;
  padding: 0;
  margin: 5px;
  text-indent: 10px; }

.reservaCabello {
  width: 400px;
  height: 40px;
  justify-content: space-evenly;
  border: 1px #ccc solid;
  border-radius: 5px;
  font-size: medium;
  padding: 0;
  margin: 5px;
  text-indent: 10px;
  color: #555555; }

.reservaColor {
  color: #555555; }

/* MAIN MAIN MAIN RESERVA TU HORA-FIN */
/* MAIN MAIN MAIN SERVICIOS-INICIO */
.nuestrosServicios {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }

.serviciosInformacion {
  text-align: center;
  height: 15px;
  width: 100%;
  align-items: center;
  display: inline-block;
  color: #c29029; }
  .serviciosInformacion h1 {
    font-size: 2.5rem; }

.serviciosInformacion h1:hover {
  color: black;
  transition: .2s;
  transform: skew(-15deg); }

.serviciosPublicos {
  width: 320px;
  height: 340px;
  box-shadow: 0 2px 2px #00000033;
  margin: 40px;
  box-shadow: 0 4px 8px 5px #c29029;
  border-radius: 20px;
  transition: all 500ms ease;
  overflow: hidden; }

.nuestrosServicios img {
  width: 320px;
  height: 200px;
  padding: 0;
  margin: 0;
  border-radius: 20px 20px 0 0;
  transition: all 500ms ease; }

.nuestrosServicios img:hover {
  transform: scale(1.08); }

.nuestrosServicios p {
  font-size: 18px;
  text-align: center;
  margin: auto;
  padding: 5px;
  color: #555555; }

.youtube {
  max-width: 100%;
  height: auto;
  text-align: center;
  margin: 0; }

.botonMain {
  width: 100%;
  display: inline-block;
  margin: 0 0 10px 0; }

.serviciosCol-1 {
  width: 100%;
  float: left;
  padding: 15px; }

.serviciosRow::after {
  content: "";
  display: table;
  min-height: 30vh; }

/* MAIN MAIN MAIN SERVICIOS-FIN */
/* FOOTER FOOTER FOOTER */
.footer {
  background-color: #000000;
  display: flex;
  padding: 0;
  color: white;
  list-style: none;
  justify-content: space-evenly;
  align-items: center; }

.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; }

.footer li {
  margin: 0;
  color: #c29029; }

.footerHorizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.footerHorizontal section {
  margin: 10px 60px 0 60px;
  text-align: center; }

.footer a {
  color: #c29029;
  text-decoration: none; }

.footer h3 {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold; }

.footer img {
  padding: 10px; }

.footer a:hover {
  color: white;
  font-weight: bold; }
