/* FOOTER FOOTER FOOTER */


.footer {
    background-color: #000000;
    display: flex;
    padding: 0;
    color: white;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.footer li {
    margin: 0;
    color: $naranja;

}

.footerHorizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footerHorizontal section {
    margin: 10px 60px 0 60px;;
    text-align: center;
}

.footer a {
    color: $naranja;
    text-decoration: none;
}

.footer h3 {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.footer img {
    padding: 10px;
}

.footer a:hover {
    color: white;
    font-weight: bold;
}