/* tipografia y reseteo */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


/* MEDIAS QUERY */

/* dispositivos medianos */

@media (max-width: 1110px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .horario {
        justify-content: space-evenly;
        height: 80vh;
    }

}


@media (max-width: 992px) {
    .footer{
        flex-direction: column;
    }

    .horario p{
        width: auto;
    }

    iframe {
        width: 60%;
    }

    .header{
        flex-direction: column;
    }


}


@media (max-width: 830px) {
    .footerHorizontal {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footerHorizontal section {
        margin: 10px 60px 0 60px;;
        text-align: center;
    }

}

@media (max-width: 500px) {
    .footerHorizontal {
        display: flex;
        flex-direction: column;
    }

}

/* dispositivos pequeños */
