$naranja: #c29029;
$gris: #555555;

// para mixin de los servicios home main

$font-size-title: 25px;
$text-aling-title: center;
$height-title: 15px;
$width-title: 100%;
$align-items-title: center;
$display-title: inline-block;

// para extend de los barberos home main

$color-barber: white;
$text-aling-barber: center;
$height-barber: 15px;
$width-barber: 100%;
$align-items-barber: center;
$padding-barber: 25px;
$margin-barber: 0;
$display-barber: inline-block;
$font-size-barber: 20px;